@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using OnlineShop.Utility
@using System.Net.Http
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    //----------------
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();

}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-warning " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold ">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Register</a>
            @*<a class="nav-link text-dark" asp-area="Customer" asp-controller="User" asp-action="Create">Register</a>*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Cart">
         <span class="font-weight-bold">Cart</span> <i class="fas fa-cart-arrow-down "></i>(@count)
        </a>
    </li>
</ul>
