@model OnlineShop.Models.Products
<br />

<h2 class="text-info">Delete Product </h2>
<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="productColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="productColor" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="productColor" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="productTypeId"></label>
                </div>
                <div class="col-8">
                   
                    <input asp-for="productTypeId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="productTypeId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="SpecialTagId"></label>
                </div>
                <div class="col-8">
                    
                    <input asp-for="SpecialTagId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="SpecialTagId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 font-weight-bold">
                    <label asp-for="isAvaliable"></label>
                </div>
                <div class="col-1">
                    <input asp-for="isAvaliable" disabled="disabled" class="form-control" type="checkbox" />
                </div>
                <span asp-validation-for="isAvaliable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class=" btn btn-outline-danger" value="Delete" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
        </div>

    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

