/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  /*Vertically center the text there 
*/}


/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 90px 0 75px 0;
}

.slider_section .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
} 

.slider_section #customCarousel1 {
        width: 100%;
        position: unset;
}

.slider_section .detail-box h1 {
        font-size: 4.5rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #002c3e;
        line-height: 70px;
}

.slider_section .detail-box h1 span {
            color: #f7444e;
}

.slider_section .detail-box p {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
        display: inline-block;
        padding: 12px 45px;
        background-color: #f7444e;
        border: 1px solid #f7444e;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 10px;
        font-weight: 700;
}

.slider_section .detail-box a:hover {
            background-color: transparent;
            color: #f7444e;
}

.slider_section .img-box img {
        width: 100%;
}

.slider_section .carousel-indicators {
        position: unset;
        margin: 0;
        margin-top: 45px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}

.slider_section .carousel-indicators li {
            background-color: #ffffff;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            opacity: 1;
 }

 .slider_section .carousel-indicators li.active {
                width: 20px;
                height: 20px;
                background-color: #f7444e;
 }

.slider_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slider_bg_box img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top right;
        object-position: top right;
}
/* Why section */
.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
}

.why_section .box .img-box {
        margin-bottom: 15px;
 }

.why_section .box .img-box svg {
            width: 55px;
            height: auto;
            fill: #ffffff;
}
.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
}

/** footer section **/

footer {
    background: #f8f8f8;
    padding: 90px 0 70px;
}

.logo_footer {
    margin-bottom: 30px;
}

.information_f p {
    margin-bottom: 1.2rem;
    line-height: 25px;
    font-size: 15px;
}

.widget_menu h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}

.widget_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget_menu ul li {
        float: left;
        width: 100%;
 }

 .widget_menu ul li a {
            font-size: 15px;
            color: #000;
            margin-bottom: 0;
            float: left;
            width: 100%;
            margin-top: 5px;
 }

.field {
    display: flex;
}

.widget_menu {
    float: left;
    width: 100%;
}



.form_sub {
    position: relative;
}

  
form input {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form textarea {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form input[type="submit"] {
    border: none;
    padding: 15px 45px;
    width: auto;
    font-size: 16px;
    text-transform: capitalize;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    background: #333;
    color: #fff;
    font-weight: 600;
    transition: ease all 0.1s;
}

    form input[type="submit"]:hover,
    form input[type="submit"]:focus {
        background: #f7444e;
        color: #fff;
    }

 /*Products Section*/
.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #f7f8f9;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
}

.product_section .box .img-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 215px;
}

.product_section .box .img-box img {
            max-width: 100%;
            max-height: 160px;
            -webkit-transition: all .3s;
            transition: all .3s;
 }

.product_section .box .detail-box {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
}

.product_section .box .detail-box h5 {
            font-size: 18px;
            margin-top: 10px;
}

.product_section .box .detail-box h6 {
            margin-top: 10px;
            color: #002c3e;
            font-weight: 600;
}

.product_section .box:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
}

.product_section .box:hover .option_container {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
}



.product_section .option_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.product_section .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product_section .options a {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 30px;
        width: 165px;
        text-align: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        margin: 5px 0;
}

.product_section .options .option1 {
        background-color: #f7444e;
        border: 1px solid #f7444e;
        color: #ffffff;
}

 .product_section .options .option1:hover {
            background-color: transparent;
            color: #f7444e;
}

.product_section .options .option2 {
        background-color: #000000;
        border: 1px solid #000000;
        color: #ffffff;
}

.product_section .options .option2:hover {
            background-color: transparent;
            color: #000000;
}

.product_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.product_section .btn-box a {
        display: inline-block;
        padding: 10px 40px;
        background-color: #f7444e;
        border: 1px solid #f7444e;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
}

.product_section .btn-box a:hover {
            background-color: transparent;
            color: #f7444e;
}